.header {
	background-color: #0000bb;
	color: #ffffff;
	padding: 20px;
}

.header-menu {
	background-color: #0000bb;
}

.a header-menu-elt {
	background-color: #0000bb;
	color: #ffffff;
	font-size: large;
	padding: 20px;
}