.header {
	background-color: #0000bb;
	color: #ffffff;
	padding: 20px;
}

.header-menu {
	background-color: #0000bb;
}

.a.header-menu-elt:link, a.header-menu-elt:visited {
	background-color: #0000bb;
	color: #ffffff;
	font-size: large;
	padding: 20px;
	text-decoration: none;
}

.a.header-menu-elt:active, a.header-menu-elt:hover {
	background-color: #0000bb;
	color: #cccccc;
	font-size: large;
	padding: 20px;
	text-decoration: none;
}

.button {
	display: block;
	background-color: #0000bb;
	color: #ffffff;
	padding: 4px;
}